.checkIcon {
    color: green;
    font-size: 1.5rem
}

.deleteIcon {
    color: rgb(141, 2, 2);
    font-size: 1.5rem;
}

.updateIcon {
    color: rgb(1, 1, 129);
    font-size: 1.5rem;
}

.completedIcon, .checkIcon:hover {
    color: rgb(24, 219, 24);
    cursor: pointer;
    font-size: 1.5rem
}

.deleteIcon:hover {
    color: rgb(255, 0, 0);
    cursor: pointer
}

.updateIcon:hover {
    color: rgb(0, 4, 255);
    cursor: pointer
}